<!DOCTYPE html>

<html>
  <head>

  </head>
  <body>
    <div id="app">
        <h1>Upload new File</h1>
        <form method=post enctype=multipart/form-data> <p>
          <input type=file name=file>
          <div class="input-group">
            <span class="input-group-addon">Model</span>
            <select name="models" class="selectpicker form-control">
              {% for o in models %}
              <option type="text" value="{{o}}"> {{o}} </option>
              {% endfor %}
            </select>
          </div>
          <input type=submit value=Upload>
        </form>
        <div>
          {{info_mess}}
        </div>
        <img src={{image}}> </img>
    </div>

    <img src="{{ url_for('video_feed', filename=filename) }}">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  </body>
</html>
